<link
	href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
	rel="stylesheet">
<div class="flex justify-center min-h-screen bg-gray-900">
	<div class="col-span-12 mt-5">
    <div class="flex justify-between">
     <div class="flex flex-col text-white">
     <span class="color-gray-50 ">Name: <%= @recipe.name %></span>
      <span>Preparation Time: <%= @recipe.preparation_time %></span>
      <span>Cooking Time: <%= @recipe.cooking_time %></span>
      <span>Description: <%= @recipe.description %></span>
      </div>
       <span class="ml-auto mr-2 justify-self-end text-sm font-medium text-gray-900 dark:text-gray-300">Public</span>
    <div class="flex flex-col flex-row-reverse text-white">
<label for="default-toggle" class="inline-flex relative items-center cursor-pointer">
  <input type="checkbox" id="default-toggle" class="sr-only peer" <%= @recipe.public ? 'checked' : '' %>>
  <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
 
</label>


    </div>
    </div>
    <div class="flex justify-between">
      <div class="text-right mt-8 mr-10"><%= link_to "Generate shopping list", '#', class: "py-2 px-4 rounded-lg bg-blue-600 hover:bg-gradient-to-r from-blue-300 to-blue-600 shadow-lg hover:shadow-xl" %></div>
      <div class="text-right mt-8"><%= link_to "Add Ingredian", new_recipe_recipe_food_path(@recipe), class: "py-2 px-4 rounded-lg bg-blue-600 hover:bg-gradient-to-r from-blue-300 to-blue-600 shadow-lg hover:shadow-xl" %></div>
    </div>
     <hr class="my-8 h-px bg-gray-200 border-0 dark:bg-gray-700">
		<div class="overflow-auto lg:overflow-visible flex justify-center ">
			<table class="table text-white border-separate space-y-6 text-sm">
        <% if @recipe_foods.length > 0 %>
        <thead>
          <tr>
            <th class="border border-slate-800 py-2">Food</th>
            <th class="border border-slate-800 py-2">Quantity</th>
            <th class="border border-slate-800 py-2">Value</th>
            <th class="border border-slate-800 py-2">Actions</th>
          </tr>
        </thead>
        
          <% @recipe_foods.each do |recipe_food| %>
          <%= render :partial => 'recipes/ingredian', :locals => {:recipe_food => recipe_food} %>
          <% end %>
    <% else %>
      <p class="text-white">Ingredient list is empty.</p>
    <% end %>
        </table>
                </div>
	</div>
</div>
<style>
	.table {
		border-spacing: 0 15px;
	}

	i {
		font-size: 1rem !important;
	}

	.table tr {
		border-radius: 20px;
	}

	tr td:nth-child(n+5),
	tr th:nth-child(n+5) {
		border-radius: 0 .625rem .625rem 0;
	}

	tr td:nth-child(1),
	tr th:nth-child(1) {
		border-radius: .625rem 0 0 .625rem;
	}
</style>