
<!-- component -->
<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
	<div class="relative py-3 sm:max-w-xl sm:mx-auto">
		<div
			class="absolute inset-0 bg-gradient-to-r from-blue-300 to-blue-600 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
		</div>
		<div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
			<div class="max-w-md mx-auto">
				<div>
					<h1 class="text-2xl font-semibold">Add Your Food</h1>
                     <% if @food.errors.any? %>
                            <ul>
                            <% @food.errors.full_messages.each do |msg|%>
                            <li><%= msg %></li>
                            <% end %>
                            </ul>
                    <% end %>
   
				</div>
				<div class="divide-y divide-gray-200">
					<div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
						<%= form_with model: @food, class: "mt-16 px-8 py-4 w-96 bg-white rounded-lg shadow-lg h-fit" do |form| %>
                            <div class="my-4 relative">
                            <%= form.label :name, "Name", class: "absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm" %>
                            <%= form.text_field :name, placeholder: "Name", required: true, autofocus: true, class: "peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600" %>
                            </div>
                            <div class="my-4 relative">
                            <%= form.label :quantity, "Quantity", class: "absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm" %>
                            <%= form.number_field :quantity, placeholder: 0, required: true, autofocus: true, class: "peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600" %>
                            </div>
                            <div class="my-4 relative">
                            <%= form.label :measurement, "Measurement Unit", class: "absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm" %>
                            <%= form.text_field :measurement, placeholder: "kg", required: true, autofocus: true, class: "peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600" %>
                            </div>
                            <div class="my-4 relative">
                            <%= form.label :price, "Price", class: "absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm" %>
                            <%= form.number_field :price, placeholder: 100, required: true, autofocus: true, class: "peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600" %>
                            </div>
                            <div class="bg-blue-500 text-white rounded-md px-2 py-1 text-center font-bold cursor-pointer mt-8 text-gray-700">
                            <%= form.submit "Add Food", data: { disable_with: "Loading" } %>
                            </div>
                        <% end %>				
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>